<%= form_for @job do |f| %>

	<p>Search by Job Title: <%= f.text_field :title, :value => "" %></p>
	<%= f.hidden_field :state, :value => "" %>
	<%= f.hidden_field :zip, :value => "" %>
	
	<%= f.submit "Search" %>
<% end %>