<%= form_for @job do |f| %>
	<h1>Advanced Search</h1>
	<p>Job Title: <%= f.text_field :title %></p>
	<p>State: <%= f.text_field :state %></p>
	<p>Zip Code: <%= f.text_field :zip %></p>
	<%= f.submit "Search" %>
<% end %>