<% @job["resultItemList"].each do |r| %>
<div class="result">
<h3><%= r["jobTitle"].upcase %></h3>
<h4><%= r["location"].upcase %></h4>
<h4><%= r["detailUrl"] %></h4>
<h4><%= r["company"] %></h4>
<h4><%= r["date"] %></h4>
<br>
</div>
<% end %>